	
	
	/* 
    	顶部部分样式
     */
        .head{
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }

        .navbar-brand img{
            width: 40px;
            height: 40px;
        }

        .fa-qq{
            color: gray;
        }
        .fa-qq:hover{
            color: deepskyblue;
        }
        .fa-envelope:hover{
            color: #C5AB2B;
        }
        .fa-weixin:hover {
            color: lawngreen;
        }
        .fa-github:hover{
            color: #000;
        }
        .icon-csdn:hover{
            color: red;
        }

        .myQQ{
            position: absolute;
            width: 224px;
            height: 296px;
            z-index: 999;
            margin-top:10px ;
            display: none;
        }
        .myweixin{
            position: absolute;
            width: 200px;
            height: 200px;
            z-index: 999;
            margin-top:10px ;
            display: none;
        }

		.input-search{
			max-width:210px;
		}

        .btn-search{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: transparent;
            margin-right: 50px;
            margin-left: 10px;
        }

        .head .card{
            border: none;
        }
        .head .card-body{
            padding: 30px 0;
        }
        .top-card div{
            position: relative;
            width: 310px;
            margin: auto;
            cursor: pointer;
        }
        .top-card a:hover{
            text-decoration: none;
            cursor: pointer;
            color: blue;
        }
        .top-card h1{
            font-size: 45px;
            /*color: red;*/
            font-weight: 200;
            font-family:'Aqua Grotesque','sans-serif';
        }
        .top-card h5{
            /*color: red;*/
            font-family: "等线 Light";
            position: absolute;
            top: 20px;
            left: 35px;
        }
        .top-card h4{
            /*color: red;*/
            font-family: "等线 Light";
            position: absolute;
            top: 45px;
            left: 105px;
        }


        .music-card .card-body{
            min-width: 200px;
            max-width: 900px;
            margin:10px auto;
        }
        .music-card .music{
            width: 200px;
            height: 200px;

            overflow: hidden;
            float: left;
            margin: 10px 40px;
            position: relative;
        }
        .music-card .music > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index:100;
        }
        .music-card .music .zhezhao {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            z-index:200;
            background-color: transparent;
            display: none;
        }
        .music-card .music .zhezhao img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            opacity:0.5;
            filter:alpha(opacity=50);
            cursor: pointer;
        }
        .music-card .music .zhezhao i{
            position: absolute;
            left: 70px;
            top: 65px;
            z-index:300;
            opacity:0.5;
            filter:alpha(opacity=50);
            cursor: pointer;
            color: lightgray;
        }


        .music-card h5{
            color: red;
            font-family: "等线 Light";
        }


        .nav-list{
            margin-bottom: 30px;
        }
        .nav-list a{
            color: gray;
        }
        .nav-list a:hover,.nav-list a:active{
            color: red;
        }
    /* 
    	顶部部分样式 —— 结束
     */
    
    /* 
    	中间部分（博客列表）样式
     */
     	
     
        .container{
            width: 80%;
            margin-bottom: 40px;
        }
        .container .card{
            margin: 20px 0;
            border: none;
        }
		.container .card xmp{
			white-space:pre-line;
			font-size:16px;
			margin:40px auto;
		}
        .container .card > hr{
            width: 100px;
            margin: 30px auto;
        }
        .container a{
            text-decoration: none;
        }
        .container h5{
            display: inline-block;
            font-size: 22px;
            font-weight: 400;
            color: gray;
            margin-bottom: 0;
        }
        .container .card-title{
            padding-bottom:10px;
            margin-bottom: 0;
        }
        .container .card-title p{
            height: 2px;
            background: #000;
            /*border: 1px double black;*/
            margin:auto;
            display: none
        }

        .container .blog-info{
            font-size: 14px;
        }
        .container .blog-info a{
            color:black;
        }
        .container .blog-info a:hover{
            font-weight: 600;
        }
        .container .text-content{
            padding: 20px 0;
        }
        .container .tag{
            border-radius: 20px;
            padding: 0 15px;
            margin-top: 10px;
        }
        .container .tag:hover{
            border-color: red;
            background-color: white;
            color: white;
        }


		/* 博客详情样式 */
		.detail-blog{
			width: 100%;
			margin: auto;
		}
		.detail-blog .blog-title{
			text-align: center; 
			margin:20px auto;
		}
		.detail-blog .blog-info{
			font-size: 14px;
			text-align: center;
			margin:20px auto;
		}
		.detail-blog h1,.detail-blog h2,.detail-blog h3,.detail-blog h4,.detail-blog h5,.detail-blog h6{
			color: gray;
			margin-top:20px;
			margin-bottom: 20px; 
		}
		
		/* 博客详情样式 - 结束 */



        /*  留言样式  */

        .message-board{
            width: 100%;
        }
        .message-board .message,.message-add{
            display: inline-block;
            width:290px;
            height:300px;
            background-size: cover;
            -moz-background-size: cover;
            /*box-shadow: 5px 5px 5px grey;*/
            position: relative;
            font-family: 华文新魏;
            margin: 10px 10px;
            background-color: transparent;
        }
        .message-board .message img{
            width:290px;
            height:300px;
            z-index: 0;
        }
        .message-board .message .header,.message-add .header{
            position: absolute;
            top: 20px;
            left: 10px;
        }
        .message-board .message .message-content,.message-add .message-content{
            position: absolute;
            top:60px;
            left: 10px;
            height: 200px;
            width: 260px;
            border-style: none;
        }
        .message-board .message .message-content img{
            max-width: 30px;
            max-height: 30px;
        }
        .message-board .message .footer,.message-add .footer{
            position: absolute;
            bottom:1px;
            right: 10px;
            font-size: 12px;
        }



        /*添加留言弹框*/
        .modal-content{
            background: transparent;
            border-style: none;
            margin-top: 10%;
        }
        .message-add{
            display: block;
            margin: auto;
            background: transparent url("../../images/message/bg1.png");
        }
        .message-add .header{
            width: 120px;
            background: transparent;
            border-style: none;
            outline: #0000FF dotted thin;
            font-size: 14px;
            padding: 4px;
            top:20px;
        }
        .message-add .message-content{
            outline: #0000FF dotted thin;
            overflow-y: auto;
            padding: 5px;
        }



        #btn-message-add{
            position: fixed;
            right: 2%;
            bottom:120px;
            display: none;
        }


        #message-add-emoji{
            position: absolute;
            bottom: 6px;
            left: 15px;
        }
        #message-add-emoji:hover{
            color: blue;
            cursor: pointer;
        }
        #change-bg{
            position: absolute;
            top: 20px;
            right: 20px;
        }
        #change-bg:hover{
            color: red;
            cursor: pointer;
        }

        .emoji_container{
            z-index: 9999;
        }

        /*  留言样式 - 结束 */
    /* 
    	中间部分（博客列表）样式 —— 结束
     */
    
    /* 
    	底部及其他部分样式
     */



        .foot .card .text-content{
            font-size: 12px;
        }


        .elevator-button{
            position: fixed;
            right: 2%;
            bottom: 60px;
            display: none;
        }
        .elevator-button2{
            position: fixed;
            right: 2%;
            bottom: 60px;
            display: none;
        }


        /*提示框*/
        .tipsbox{
            position: fixed;
            top: 40%;
            left: 50%;
            z-index: 10000;
            min-width: 200px;
            min-height: 40px;
            max-width: 500px;
            border-radius: 5px;
            text-align: center;
            padding: 10px;
            color: white;
            background-color: red;
            opacity: 0.6;
            display: none;
        }

        /*提示框 - 结束*/


        /*滚动条*/
        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        ::-webkit-scrollbar-button,
        ::-webkit-scrollbar-button:vertical {
            display: none;
        }

        ::-webkit-scrollbar-track,
        ::-webkit-scrollbar-track:vertical {
            background-color: whitesmoke;
        }

        ::-webkit-scrollbar-track-piece {
            background-color: whitesmoke;
        }

        ::-webkit-scrollbar-thumb,
        ::-webkit-scrollbar-thumb:vertical {
            border-radius: 5px;
            margin-right: 10px;
            background-color: #bba;
        }

        ::-webkit-scrollbar-thumb:hover,
        ::-webkit-scrollbar-thumb:vertical:hover {
            background-color: #aaa;
        }

        ::-webkit-scrollbar-corner,
        ::-webkit-scrollbar-corner:vertical {
            background-color: whitesmoke;
        }

	/* 
    	底部及其他部分样式 —— 结束
     */


    @media screen and (max-width:660px) {
        .music-card .music{
            margin-left:26%;
        }
    }